@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.lobster-regular {
  font-family: "Lobster", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* mission section  */
.mission {
  width: 80%;
  margin: 50px auto;
}
.mission-header {
  color: rgb(19, 16, 58);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
span.year {
  color: rgb(255, 173, 90);
}
.mission-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.mission-card-box {
  padding: 10px 10px 10px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image {
  width: 50%;
}
.image {
  width: 100%;
  height: 100%;
}
.card-title {
  font-weight: bold;
  margin: 10px 0px;
  font-size: 24px;
}
.card-paragraph {
  margin-bottom: 10px;
}
#card-1 {
  background: rgba(79, 157, 166, 0.1);
}
#card-2 {
  background: rgba(255, 89, 89, 0.1);
}
#card-3 {
  background: rgb(255, 244, 214);
}
/* banner section  */
.banner {
  width: 80%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  gap: 350px;
}
.banner-content {
  width: 40%;
}
.banner-title {
  font-size: 60px;
  font-weight: bold;
  color: rgb(51, 51, 51);
  border-left: 4px solid rgb(255, 89, 89);
  padding-left: 5px;
  margin-bottom: 15px;
}
span.color {
  color: rgb(255, 173, 90);
}
.banner-image {
  width: 30%;
}
img.banner-img {
  width: 100%;
  height: 100%;
}
.banner-paragraph {
  margin-bottom: 15px;
}
.banner-btn {
  border-radius: 5px;
  background: rgb(255, 89, 89);
  color: white;
  padding: 15px 25px;
  border: none;
  margin-bottom: 15px;
}
/* develop section  */
.develop {
  width: 100%;
  margin: 50px auto;
  background-image: url("../images/shapes/shape-1.png");
  background-repeat: no-repeat;
  background-size: 350px 350px;
  background-position: 70px 70px;
}
.develop-parent {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.develop-image {
  width: 40%;
  border-radius: 35px;
}
img.coading {
  width: 100%;
  height: 100%;
}
.develop-content {
  width: 60%;
}
.develop-content-title {
  font-size: 36px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin-bottom: 10px;
}
.develop-content-paragraph {
  color: rgb(62, 62, 62);
}
.btn {
  border-radius: 5px;
  color: white;
  background-color: rgb(255, 89, 89);
  border: none;
  padding: 15px 30px;
  margin-top: 10px;
}

/* global section  */

.global {
  width: 100%;
  margin: 50px auto;
  background-image: url("../images/shapes/shape-1.png");
  background-repeat: no-repeat;
  background-size: 350px 350px;
  background-position: right bottom;
  height: 600px;
}
.global-parent {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.global-image {
  width: 40%;
  border-radius: 35px;
}
img.coading {
  width: 100%;
  height: 100%;
}
.global-content {
  width: 60%;
}
.global-content-title {
  font-size: 36px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin-bottom: 10px;
}
.global-content-paragraph {
  color: rgb(62, 62, 62);
}

/* footer section  */
footer {
  background-color: black;
  padding: 100px;
  margin: 0px auto;
}
.footer-title {
  font-size: 36px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.footer-paragraph {
  color: white;
  text-align: center;
}
